@media only screen and (min-width: 600px) {
    @media (prefers-color-scheme: dark) {
        *{
            margin: 0;
            padding: 0;
            outline: 0; /*none*/
            text-decoration: none;
            box-sizing: border-box;
        }
        body {
            background-color: #1c1c1e;
            color: #fefefe;
            line-height: 1.5;
            font-size: 16px;
            font-family: 'Poppins' sans-sherif;
            }
        a   {
            color: #5fa9ee;
            }
        li {
            list-style:none !important; /*On enlève les puces de la liste */
            color:rgb(201, 190, 190);
            padding:10px;
            font-size:20px;
            text-decoration: solid;
            }
             
            nav ul {
            background-color:#07284e;
            padding:0;
            margin:0;
            }
             
            nav ul li {
            list-style: none;
            line-height:44px;
            float:left;
            background-color:#051e3a;
            }
             
            nav ul li a {
            color:rgb(221, 213, 213);
            padding:10px;
            font-size:20px;
            text-decoration:none;
            }
             
            li a:hover {
            border-bottom:3px rgb(20, 5, 61) solid;
            }
            
            nav ul li ul { 
            display:none; /* Rend le menu déroulant caché par défaut */
            } 
             
            nav ul li:hover ul { /* Affiche la dropNav au survol de la souris avec la class .drop */
            z-index:99999;
            display:list-item !important;
            position:absolute;
            margin-top:5px;
            margin-left:-10px;
            }
             
            nav ul li:hover ul li {
            float:none;
            }
        
        
        }
  
    
    }
